
.main{
    max-width: --container-max-width;
    padding: --container-padding;
    margin-top: 50px;
}

.slide-wrapper{
    display: flex;
  width: 1200px;
  height: 720px;
  margin: auto;
  gap: 64px;
  

}

/* ảnh bên trái */
.left {
  flex: 1;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
overflow: hidden;
border-radius: 12px;
}

/* cột phải */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.right img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
}

.slide-dots{
   
    margin: auto;
    height: 15px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 12px;
}

.selected-dot{
    height: 15px;
    width: 15px;
    background-color: #575757;
    border-radius: 100px;
    cursor: pointer;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 100px;
    cursor: pointer;
}

.discount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 0 120px;
}

.discount-title h3{
    font-size: 24px;
}

.discount-email-btn{
    width: 203px;
    height: 60px;
font-weight: bold;
color: white;
background-color: black;
border-radius: 1000px;
}

.featured-products-container{
    width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.featured-products-header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.featured-products-header h3{
    font-size: 28px;
    color: black;
}

.featured-products-header a{
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid black;
}

.featured-products-cards-wrapper{
    display: flex;
    gap: 32px;
}

.item-card{
    flex: 1;
    
}

.item-card img{
    object-fit: contain;
    width: 100%;
    height: 263px;
    overflow: hidden;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.card-footer p{
    font-size: 12px;
}

.price{
    font-weight: bold;
    color: black;
}



